<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilos.css">
    <title>Servicios de Diseño y Creacion de Paginas y Aplicaciones Web</title>
</head>

<body>
    <header class="encabezado zona">
        <section class="enlacesLogotipo">
            <img src="../imagenes/logotipoEmpresa/DESIGNER.ES (1)-fotor-bg-remover-20231026132953.png" alt="">
            <nav class="navegador">
            <ul class="accesos">
                <li><a href="index.html">Home</a></li>
                <li><a href="portafolio.html">Portafolio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#contacto">Contato</a></li>
                <li><a href="#sobreNosotros">Sobre Nosotros</a></li>
                <!--<li><a href=" #legal">Aviso Legal</a></li>
                <li><a href="#condicionesCompra">Términos y Condiciones</a></li>
                <li><a href="#privacidad">Pol. Privacidad</a></li>
                <li><a href="#cookies">Pol. Cookies</a></li>
                <li><a href="#intelectual">Propiedad Intelectual</a></li>
                <li><a href="#uso">Cond. Uso</a></li>-->
            </ul>
        </nav>
        </section>
       
    </header>
    <main>
        <div class="tituloSeccion">
            <h2>Aviso Legal.</h2>
        </div>
        <section id="legal" class="legislacion">
            <h3>1.- Información Legal</h3>

            <p>Este Aviso Legal regula el uso del sitio web <b>[URL del Sitio Web] </b>(en adelante, el "Sitio Web"),
                propiedad de <b>[Nombre de la Empresa]</b> (en adelante, la "Empresa"), con dirección [Dirección] y
                número de identificación fiscal [Número de Identificación Fiscal].</p>

            <h3>2.- Condiciones de Uso</h3>

            <p>El acceso y uso del Sitio Web están sujetos a las siguientes condiciones:</p>
            <ul>
                <li><b>Uso Aceptable:</b> El usuario se compromete a utilizar el Sitio Web de manera lícita, de
                    conformidad con las leyes aplicables y los términos de este Aviso Legal.</li>

                <li><b>Propiedad Intelectual:</b> Todos los contenidos del Sitio Web, incluyendo textos, imágenes,
                    logotipos y otros elementos, están protegidos por derechos de propiedad intelectual y son propiedad
                    de la Empresa o de terceros con licencia. Queda prohibida la reproducción, distribución o uso no
                    autorizado de estos contenidos</li>
                <li><b>Enlaces Externos:</b> El Sitio Web puede contener enlaces a sitios web de terceros. La Empresa no
                    se hace responsable del contenido o las prácticas de privacidad de estos sitios.</li>
                <li><b>Responsabilidad:</b> La Empresa no asume responsabilidad por los daños o perjuicios derivados del
                    uso del Sitio Web ni de la falta de disponibilidad o continuidad de sus servicios.</li>
            </ul>
            <h3>3.- Política de Privacidad y Cookies</h3>
            <p>El uso de datos personales en el Sitio Web está sujeto a nuestra Política de Privacidad y a nuestra
                Política de Cookies. Consulte estas políticas para obtener más información.</p>
            <h3>4.- Legislación Aplicable</h3>
            <p>Este sitio web se rige por la legislación española y, en particular, está sujeto a las siguientes leyes y
                regulaciones:</p>
            <ol>
                <li><b>Ley de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE):</b> Esta
                    ley regula cuestiones relacionadas con los servicios en línea, como la información que los
                    prestadores de servicios deben proporcionar a los usuarios y las comunicaciones comerciales.</li>
                <li><b>Ley Orgánica de Protección de Datos y Garantía de los Derechos Digitales (LOPDGDD):</b> Esta ley
                    establece normas para la protección de datos personales y garantiza los derechos digitales de los
                    ciudadanos.</li>
                <li><b>Reglamento General de Protección de Datos (RGPD):</b> El RGPD de la Unión Europea se aplica a la
                    protección de datos personales y afecta a cualquier empresa que recopile o procese datos de
                    ciudadanos de la Unión Europea.</li>
                <li><b>Ley de Propiedad Intelectual:</b> Esta ley establece las normas sobre derechos de autor y
                    propiedad intelectual, lo que es relevante si compartes contenido protegido en tu sitio web.</li>
            </ol>

            <p>Este Aviso Legal se rige por las leyes de España. Cualquier disputa relacionada con el Sitio Web se
                someterá a la jurisdicción de los tribunales de El Puerto de Santa María.</p>
        </section>
        <div class="tituloSeccion">
            <h2>Términos y Condiciones de compra.</h2>
        </div>
        <section id="condicionesCompra" class="legislacion">

            <h3>1.- Descripción de los Servicios</h3>
            <p>"WebbDeveloper.es"ofrece servicios de diseño y desarrollo de páginas y aplicaciones web. Nuestros
                servicios pueden variar desde proyectos estándar con precios fijos hasta proyectos a medida diseñados de
                acuerdo con las necesidades específicas de nuestros clientes.</p>

            <h3>2.- Proceso de Compra</h3>
            <p>Los clientes pueden adquirir nuestros servicios de las siguientes maneras:</p>
            <ul>
                <li><b>Compras Estándar: </b>Los servicios con precios fijos se pueden comprar directamente a través de
                    nuestro sitio web utilizando una pasarela de pago segura.</li>
                <li><b>Proyectos a Medida: </b>Para proyectos personalizados, los clientes deben ponerse en contacto con
                    nosotros y solicitar un presupuesto personalizado. Una vez que se haya acordado el alcance y el
                    precio, se proporcionará un presupuesto detallado que debe ser aceptado por ambas partes.</li>
            </ul>
            <h3><b>3.- Precios y Pagos</b></h3>
            <ul>
                <li><b>Compras Estándar:</b> Los precios de nuestros servicios estándar se indican en nuestro sitio web
                    y se muestran en la pasarela de pago. Los clientes deben realizar el pago en su totalidad al
                    completar la transacción.</li>
                <li><b>Proyectos a Medida:</b> Para proyectos personalizados, se establecerá un precio en función del
                    alcance acordado. Se requerirá un pago inicial equivalente al 50% del presupuesto total una vez que
                    el cliente haya aceptado el presupuesto. El 50% restante se abonará al completar el proyecto.</li>
            </ul>
            <h3>4.- Entrega de Servicios</h3>
            <ul>
                <li><b>Compras Estándar:</b> Los servicios estándar se entregarán de acuerdo con los plazos indicados en
                    nuestro sitio web y se pondrán a disposición del cliente una vez que se haya realizado el pago en su
                    totalidad.</li>
                <li><b>Proyectos a Medida:</b> Para proyectos personalizados, los plazos de entrega se especificarán en
                    el contrato firmado por ambas partes. La fecha de entrega dependerá del alcance y la complejidad del
                    proyecto y comenzará a contar a partir del momento en que el cliente haya proporcionado toda la
                    información requerida para la ejecución del proyecto.</li>
            </ul>
            <h3>5.- Revisiones de Proyectos Ejecutados</h3>
            <ul>
                <li></b><b>Compras Estándar:</b> En el caso de productos estándar, las condiciones de revisión se
                    definirán en las características del producto. Cada producto puede tener especificadas las
                    condiciones de revisión, incluyendo si las revisiones están disponibles y, en caso afirmativo, la
                    cantidad permitida.</li>
                <li><b>Proyectos a Medida:</b> Para proyectos a medida, el proceso de revisión se establecerá de manera
                    detallada en el contrato firmado por ambas partes. Esto incluirá la cantidad de revisiones
                    permitidas, los plazos para llevar a cabo las revisiones y cualquier otro detalle relevante.</li>
                <li><b>Proceso de Revisión:</b> Durante el proceso de revisión, los clientes deben proporcionar
                    comentarios específicos y claros sobre los aspectos que desean revisar en el proyecto ejecutado.
                    Nuestro equipo se esforzará por abordar estos comentarios y realizar las modificaciones necesarias.
                </li>
                <li><b> Plazos de Revisión:</b> El plazo para llevar a cabo las revisiones se especificará en el
                    contrato o en las características del producto. Los clientes deben respetar estos plazos para
                    garantizar que las revisiones se realicen de manera oportuna.</li>
                <li><b>Limitaciones de las Revisiones:</b>Es importante tener en cuenta que las revisiones se limitan a
                    ajustes y modificaciones razonables dentro del alcance acordado originalmente. No se realizarán
                    revisiones que impliquen un cambio sustancial en el alcance o los requisitos del proyecto sin un
                    acuerdo adicional.</li>
                <li><b>Aprobación del Proyecto</b>Una vez que el cliente ha revisado y aprobado el proyecto ejecutado,
                    se considerará finalizado. Cualquier solicitud de revisión adicional podrá estar sujeta a cargos
                    adicionales.</li>
            </ul>

            <h3>6.- Política de Devoluciones y Reembolsos</h3>
            <p>No se admiten devoluciones ni reembolsos para nuestros servicios, ya que se trata de servicios digitales
                y a medida. Una vez que se haya aceptado el presupuesto y se haya realizado el pago inicial, no se
                realizarán reembolsos parciales o totales.</p>

            <h3>7.- Ley Aplicable y Jurisdicción</h3>
            <p>Estos términos y condiciones de compra se rigen por las leyes de España y cualquier disputa relacionada
            <h3>8.- Cancelación de Pedidos</h3>
            <p>
                "WebbDeveloper.es"se reserva el derecho de cancelar un pedido en caso de fraude, errores en la
                información de pago o incumplimiento de los términos y condiciones.
        </section>
        </p>
        <div class="tituloSeccion">
            <h2>Politica de Privacidad.</h2>
        </div>
        <section id="privacidad" class="legislacion">
            <p><b>Fecha de entrada en vigencia: 26/10/2023,</b></p>
            <h3><b>1.- Introducción</b></h3>
            <p><b>webDeveloper.es</b> se compromete a proteger la privacidad de sus usuarios y clientes. Esta Política
                de Privacidad describe cómo recopilamos, utilizamos, divulgamos y protegemos la información personal que
                obtenemos a través de nuestros servicios de diseño y desarrollo de páginas y aplicaciones web.</p>
            <p><b>Información que Recopilamos:</b></p>
            <ol>
                <li><b>Información de Contacto:</b> Esto puede incluir su nombre, dirección de correo electrónico,
                    número de teléfono y dirección postal.</li>
                <li><b>Información de la Empresa:</b> Si trabaja en representación de una empresa o entidad, podemos
                    recopilar información relacionada con su empresa, como el nombre de la empresa y su posición.</li>
                <li><b>Información de Pago:</b> Para procesar los pagos, podemos recopilar información de tarjetas de
                    crédito u otros detalles de pago.</li>
                <li><b>Información Técnica:</b> Podemos recopilar información técnica sobre su dispositivo y la forma en
                    que interactúa con nuestras páginas y aplicaciones web, como direcciones IP, historial de navegación
                    y cookies (consulte nuestra Política de Cookies para obtener más detalles).</li>
            </ol>
            <h3><b>2.- Uso de la Información</b></h3>
            <p>Utilizamos la información recopilada para los siguientes fines:
            </p>
            <ol>
                <li><b>Diseño y Desarrollo: </b>Utilizamos la información para crear y personalizar páginas y
                    aplicaciones web de acuerdo a sus necesidades y preferencias.</li>
                <li><b>Comunicación:</b>Podemos enviarle información relacionada con el estado de sus proyectos,
                    actualizaciones, noticias y comunicaciones de servicio.</li>
                <li><b>Facturación y Pagos: </b>Utilizamos la información de pago para procesar transacciones y
                    facturación.</li>
            </ol>
            <h3><b>3.- Protección de la Información</b></h3>
            <p>Mantenemos medidas de seguridad adecuadas para proteger su información personal contra pérdida, robo,
                acceso no autorizado, divulgación, copia o uso no autorizado. Además, cumplimos con las leyes y
                regulaciones de privacidad aplicables.</p>
            <h3><b>4.- Cambios en esta Política de Privacidad</b></h3>
            <p>Esta Política de Privacidad puede actualizarse ocasionalmente. Cualquier cambio se publicará en nuestro
                sitio web y entrará en vigencia a partir de la fecha de publicación. Se le notificará cualquier cambio
                sustancial en nuestra política.</p>
        </section>
        <div class="tituloSeccion">
            <h2>Politica de cookies.</span></h2>
        </div>
        <section id="cookies" class="legislacion">

            <h3>1.- Introducción</h3>
            <p>En [Nombre de la Empresa], utilizamos cookies en nuestro sitio web para mejorar su experiencia de
                navegación. Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita
                nuestro sitio. Esta política explica cómo utilizamos las cookies y sus opciones con respecto a su uso.
            </p>

            <h3>2.- ¿Qué son las Cookies?</h3>
            <p>Las cookies son archivos de texto que se almacenan en su dispositivo cuando visita nuestro sitio web.
                Estas cookies nos permiten recopilar información sobre su experiencia de navegación y personalizar
                nuestro sitio para usted.</p>
            <p><b>Tipos de Cookies</b></p>
            <p>Utilizamos varios tipos de cookies:</p>
            <ul>
                <li><b>Cookies Esenciales:</b> Estas cookies son necesarias para que nuestro sitio funcione
                    correctamente y le permiten navegar y utilizar sus funciones.</li>
                <li><b>Cookies de Rendimiento:</b> Recopilamos datos anónimos sobre cómo los visitantes utilizan nuestro
                    sitio para mejorar su rendimiento y usabilidad.
                </li>
                <li><b>Cookies de Funcionalidad:</b> Utilizamos estas cookies para recordar sus preferencias y
                    personalizar su experiencia en el sitio.
                </li>
                <li><b>Cookies de Publicidad:</b> Algunas cookies nos ayudan a mostrar anuncios relevantes para usted.
                </li>
            </ul>

            <h3>3.- Cumplimiento Legal</h3>

            <p>Nuestra política de cookies cumple con las siguientes leyes y regulaciones aplicables en España:</p>
            <p><b>Ley de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE):</b></p>
            <p>Esta ley establece las obligaciones de los sitios web en relación con las cookies y la obtención del
                consentimiento del usuario.</p>
            <b>Ley Orgánica de Protección de Datos y Garantía de los Derechos Digitales (LOPDGDD):</b>
            <p>Esta ley incorpora el Reglamento General de Protección de Datos (RGPD) de la Unión Europea y establece
                normas relacionadas con la protección de datos personales.</p>

            <h3>4.- Gestión de Cookies</h3>

            <p>Puede gestionar las cookies cambiando la configuración de su navegador. Consulte la ayuda de su navegador
                para obtener instrucciones sobre cómo hacerlo. Tenga en cuenta que deshabilitar las cookies puede
                afectar la funcionalidad de nuestro sitio.</p>
        </section>
        <div class="tituloSeccion">
            <h2>Política de propiedad Intelectual de "WebbDeveloper.es"</h2>
        </div>
        <section id="intelectual" class="legislacion">


            <h3>1.- Propiedad Intelectual</h3>
            <p>"WebbDeveloper.es"reconoce y respeta los derechos de propiedad intelectual y la importancia de proteger
                la propiedad intelectual de terceros. Esta política establece nuestras pautas y compromisos en relación
                con la propiedad intelectual en el contexto de nuestros servicios y productos.</p>
            <h3>2.- Derechos de Autor</h3>
            <ul>
                <li><b>Contenido Propio:</b> Todos los contenidos generados por [Nombre de la Empresa], incluyendo
                    textos, imágenes, logotipos, gráficos y otros elementos, están protegidos por derechos de autor y
                    son propiedad exclusiva de la empresa.</li>
                <li><b>Contenido de Terceros:</b> Cuando utilizamos contenido de terceros, como imágenes con licencia o
                    software de código abierto, lo hacemos de conformidad con las licencias aplicables y damos crédito a
                    los titulares de derechos cuando sea necesario.</li>
            </ul>
            <h3>3.- Uso de Contenido</h3>
            <p>Los clientes que adquieren nuestros servicios tienen el derecho de utilizar el contenido entregado en el
                alcance del proyecto para su uso específico. Sin embargo, "WebbDeveloper.es"se reserva todos los
                derechos sobre el contenido generado y entregado en relación con nuestros servicios, a menos que se
                acuerde explícitamente lo contrario en un contrato específico.</p>
            <h3>4.- Exención de Responsabilidad</h3>
            <p>"WebbDeveloper.es"no se hace responsable del material proporcionado por los clientes para llevar a cabo
                el servicio. Los clientes son responsables de garantizar que el material proporcionado cumple con todas
                las leyes y regulaciones aplicables y no infringe los derechos de propiedad intelectual de terceros. La
                empresa se reserva el derecho de rechazar material que considere inapropiado o que infringe los derechos
                de terceros.</p>
            <h3>5.- Protección de la Propiedad Intelectual</h3>
            <ul>
                <li><b>Respeto de los Derechos de Terceros:</b> "WebbDeveloper.es"no permitirá la infracción de los
                    derechos de propiedad intelectual de terceros y actuará de manera adecuada en respuesta a
                    notificaciones creíbles de infracción.</li>
                <li><b>Notificación de Infracción:</b> Si considera que su propiedad intelectual ha sido utilizada de
                    manera inapropiada en relación con nuestros servicios, le instamos a ponerse en contacto con
                    nosotros de inmediato para que podamos abordar la situación de manera adecuada.</li>
            </ul>
            <h3>7.- Colaboración con Clientes</h3>
            <p>"WebbDeveloper.es"está comprometida a trabajar en colaboración con los clientes para garantizar que los
                derechos de propiedad intelectual sean respetados y que los proyectos se desarrollen de manera ética y
                legal. Siempre buscamos mantener una relación de respeto mutuo con nuestros clientes en asuntos de
                propiedad intelectual.</p>
            <h3>8.- Ley Aplicable y Jurisdicción</h3>
            <p>Estos términos y condiciones se rigen por las leyes de España y cualquier disputa relacionada con la
                propiedad intelectual se someterá a la jurisdicción de los tribunales de El Puerto de Santa María.</p>
        </section>
        <div class="tituloSeccion">
            <h2>Condiciones de uso</h2>
        </div>
        <section id="uso" class="legislacion">
            <h3>1.- Aceptación de las Condiciones</h3>
            <p>Al utilizar los servicios de [Nombre de la Empresa], usted acepta y se compromete a cumplir con las
                siguientes condiciones de uso. Si no está de acuerdo con estas condiciones, le recomendamos que no
                utilice nuestros servicios.</p>
            <h3>2.- Uso Aceptable</h3>
            <p>Los servicios proporcionados por "WebbDeveloper.es"deben utilizarse de manera lícita y de conformidad con
                todas las leyes y regulaciones aplicables. No se permite el uso de nuestros servicios para actividades
                ilegales o fraudulentas.</p>
            <h3>3.- Registro de Cuenta</h3>
            <p>Para acceder a ciertos servicios o funciones, es posible que deba registrarse y crear una cuenta. Es su
                responsabilidad proporcionar información precisa y mantener la seguridad de su cuenta y contraseña.</p>
            <h3>4.- Propiedad Intelectual</h3>
            <p>Todos los contenidos, diseños, logotipos, gráficos y otros elementos proporcionados por
                "WebbDeveloper.es"están protegidos por derechos de propiedad intelectual y son propiedad exclusiva de la
                empresa. No se permite la reproducción, distribución o uso no autorizado de estos contenidos.</p>
            <h3>5.- Comunicaciones Comerciales</h3>
            <p>Podemos enviarle comunicaciones comerciales relacionadas con nuestros servicios y promociones. Puede
                optar por no recibir estas comunicaciones en cualquier momento siguiendo las instrucciones
                proporcionadas.</p>
            <h3>6.- Política de Privacidad</h3>
            <p>Nuestra política de privacidad rige la recopilación y el uso de datos personales. Al utilizar nuestros
                servicios, acepta las prácticas de privacidad descritas en nuestra política de privacidad.</p>
            <h3>7.- Responsabilidad y Garantía</h3>
            <p>"WebbDeveloper.es"se esfuerza por ofrecer servicios de alta calidad, pero no garantiza que nuestros
                servicios sean ininterrumpidos o libres de errores. No asumimos responsabilidad por daños o perjuicios
                derivados del uso de nuestros servicios.</p>
            <h3>8.- Enlaces a Terceros</h3>
            <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. "WebbDeveloper.es"no se hace
                responsable del contenido o las prácticas de privacidad de estos sitios.</p>
            <h3>9.- Modificaciones a las Condiciones</h3>
            <p>Nos reservamos el derecho de modificar estas condiciones en cualquier momento. Las modificaciones
                entrarán en vigencia a partir de la fecha de publicación en nuestro sitio web. Le recomendamos que
                revise periódicamente estas condiciones.</p>
            <h3>10.- Ley Aplicable y Jurisdicción</h3>
            <p>Estas condiciones de uso se rigen por las leyes de España y cualquier disputa relacionada con ellas se
                someterá a la jurisdicción de los tribunales de El Puerto de Santa María.</p>
        </section>
        <div class="tituloSeccion">
            <h2>Contacto</h2>
        </div>
        <section id="contactoLegis" class="legislacion" >
            <h4>Si tiene alguna pregunta sobre la Política de Cookies, privacidad, condiciones de uso, propiedad intelectual o terminos y condiciones de compra no dude en ponerse en contacto con nosotros a través de:</h4>
            <p>
                <ul>
                    <li>"WebbDeveloper.es"</li>
                    <li>Avd. San Luis 22 - C.P. 11100 (El Puerto de Santa Mária)</li>
                    <li>666-522-111</li>
                    <li>info@"WebbDeveloper.es"</li>
                </ul>
            </p>

        </section>
    </main>
    <footer>
        <section class="footerSection soporte">
            <h4>Soporte</h4>
            <div class="soporte1">
                <a href="faqs.html">Preguntas frecuentes</a>
                <a href="#contacto">Whatssap</a>
            </div>
        </section>
        <section class="footerSection contenido">
            <h4>Contenido</h4>
            <div class="contenido1">
                <a href="portafolio.html">Portafolio</a>
                <a href="#servicios">Servicios</a>
                <a href="#contacto">Contato</a>
                <a href="#sobreMi">Sobre Mí</a>
                <a href="curriculum.html">Curriculo</a>
            </div>
        </section>
        <section class="footerSection legal">
            <h4>Informacion Legal</h4>
            <div class="legal1">
                <a href="#contacto">Contrato de formalización</a>
                <a href="faqs.html">Política de privacidad</a>
                <a href="#contacto">Política de cookies</a>
            </div>
        </section>
        <section class="footerSection rrss">
            <h4>Redes Sociales</h4>
            <div class="rrss1">
                <a href=""><img src="../imagenes/rrss/facebook.png" alt="Enlace facebook"></a>
                <a href=""><img src="../imagenes//rrss/instagram (1).png" alt="Enlace instagram"></a>
                <a href=""><img src="../imagenes/rrss/social.png" alt="Enlace Linkedin"></a>
                <a href=""><img src="../imagenes/rrss/icons8-twitterx-48.png" alt="Enlace Linkedin"></a>
            </div>
        </section>
        <section class="footerSection copyright">
            <h4>@2023 Copyright --"WebbDeveloper.es" Todos los derechos reservados.</h4>
        </section>
    </footer>
    <script src="index.js"></script>
</body>