<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../styles/estilos.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
  <link rel="stylesheet" href="../styles/estilos.css">
  <title>WebbDesigners.es Zona de Administrador</title>
</head>

<body>
  <header class="encabezado zona">
    <section class="enlacesLogotipo">
      <img src="../imagenes/logotipoEmpresa/logotipo.png" alt="">
      <nav class="navegador desplegable">
        <button><img src="../imagenes/iconos/menu.png" alt=""></button>
        <ul class="accesos">
          <li><input type="text" name="buscar" id="buscar" placeholder="Buscar"></li>
          <li><a href="">Home</a></li>
          <li><a href="">Cerrar Sesion</a></li>
        </ul>
      </nav>
    </section>

  </header>
  <main class="cuerpo">
    <nav class="navCuerpo">
      <h3>Menú</h3>
      <ul>
        <li><a href="">Compras</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="">Presupuestos</a></li>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Estadisticas</a></li>
      </ul>
    </nav>
    <section class="divCuerpo">
      <h3>PANEL ADMINISTRACION - WEBBDESIGNERS.ES</h3>

      <section class="datos">
        <h4>Datos:<span class="tipoDatos">Presupuesto</span></h4>

      </section>

    </section>


  </main>
 <!--<footer class="zona">

  </footer>-->
  <script src="../scripts/zonaAdmin.js"></script>
</body>

</html>