<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/estilos.css">
  <title>WebbDesigners.es Zona de Administrador</title>
</head>

<body>
  <header class="encabezado zona">
    <section class="enlacesLogotipo">
      <img src="../imagenes/logotipoEmpresa/DESIGNER.ES (1)-fotor-bg-remover-20231026132953.png" alt="">
      <nav class="navegador desplegable">
        <button><img src="../imagenes/iconos/menu.png" alt=""></button>
        <ul class="accesos">
          <li><input type="text" name="buscar" id="buscar" placeholder="Buscar"></li>
          <li><a href="">Home</a></li>
          <li><a href="">Cerrar Sesion</a></li>
        </ul>
      </nav>
    </section>

  </header>
  <main class="cuerpo">
    <nav class="navCuerpo">
      <h3>Menú</h3>
      <ul>
        <li><a href="">Compras</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="">Solicitudes</a></li>
        <li><a href="">Presupuestos</a></li>
        <li><a href="">Estadisticas</a></li>
      </ul>
    </nav>
    <section class="divCuerpo">
      <h3>PANEL ADMINISTRACION - WEBBDESIGNERS.ES</h3>
      <section class="campos">
        <p>Usuario:
        <span class="usuario">Plat1505</span></p>
        <p>Perfil:<span class="perfil"></span></p>
        <p>Alta en sistema:<span class="perfil"></span></p>
        <p>Fecha:<span class="fecha">17/05/89</span></p>
        </ul>
      </section>
      <section class="datos">
        <h4>Datos:<span class="tipoDatos">Presupuesto</span></h4>
        <!--<table class="tabla">
          <thead>
            <th>idUsuario</th>
            <th>Razon Social</th>
            <th>Email</th>
            <th>Dni</th>
          </thead>
            <tr class="fila impar">
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr class="fila par">
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr class="fila impar">
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr class="fila par">
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
          
        </table>-->
      </section>
    </section>


  </main>
  <footer class="zona">

  </footer>
  <script src="../scripts/zonaAdmin.js"></script>
</body>

</html>